.GameSearchForm {
    flex: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    color: white;
}

label {
    font-size: 2rem;
    font-weight:700;
    margin: 15px 0 5px;
}

input,
button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin: 20px;
    font-size: 22px;
}

input {
    padding-left: 10px;
}

button {
    cursor: pointer;
}